.page-about {
  .container {
    padding: 2.5%;
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  @include desktop {
    .site-header {
      margin-top: 3rem;
    }
  }
  .site-main {
    display: flex;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
  }
  h2 {
    font-size: 2rem;
  }

  @include desktop {
    .post-215 {
      padding: 0 4rem;
    }
    .site-main::before {
      font-family: "FontAwesome";
      font-weight: 400;
      content: "\f10d";
      font-size: 5rem;
      color: $color__text-green;
      padding: 10px;
    }
    .site-main::after {
      font-family: "FontAwesome";
      font-weight: 400;
      content: "\f10e";
      color: $color__text-green;
      font-size: 5rem;
      padding: 10px;
    }
  }
}
