.page-id-215 {
  .entry-content {
    display: flex;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
  }

  .type-post {
    a {
      color: $color__text-green;
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .entry-meta {
    text-align: left;
  }
  // @include desktop {
  //   text-align: center;
  // }
}
