// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// media queries

@mixin tablet{
	@media(min-width: $tablet_width){
		@content;
	}
}
@mixin desktop{
	@media(min-width: $desktop_width){
		@content;
	}
}
@mixin center-page{
	min-width: $desktop_width;
	margin-right: auto;
	margin-left:auto;
}