// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// media queries

@mixin tablet{
	@media(min-width: $tablet_width){
		@content;
	}
}
@mixin desktop{
	@media(min-width: $desktop_width){
		@content;
	}
}
@mixin center-page{
	min-width: $desktop_width;
	margin-right: auto;
	margin-left:auto;
}
@mixin quote-button{
	color: $color__text-green;
    padding: 0.9rem 1.9rem;
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    border: solid 1px $color__text-green;
    font-size: 1.5rem;
    font-weight: 300;
}