/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
  color: $color__link;

  &:hover {
    opacity: 0.8;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

/* Menus */

.site-info {
  display: flex;
  width: 100%;
  height: 100px;
  p {
    line-height: 1;
    font-weight: 300;
  }
  @include tablet {
    flex-wrap: wrap;
  }
}
.footer-navigation {
  display: inline-flex;
}
.site-footer-container {
  padding-left: 0;
}

.menu-item {
  border-right: 1px solid #fff;
  line-height: 1;
  padding: 0 1rem;
  font-weight: 300;
}
.nav-red {
  display: flex;
  margin-top: 0;
  padding-left: 0;
}

.main-navigation {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  ul {
    padding-left: 0;
  }
  .menu-item-217 {
    padding-left: 0;
    @include desktop {
      padding: 0 1rem;
    }
  }
  @include desktop {
    justify-content: flex-end;
    display: inline-flex;
  }
  .nav-spacer1 {
    @include tablet {
      padding-left: 1rem;
    }
  }
  .nav-spacer2 {
    padding-left: 5px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding-right: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: right;
      position: absolute;
      bottom: $base__space-unit;
      right: -999rem;
      z-index: 99999;

      ul {
        right: -999rem;
        bottom: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      right: auto;
    }
  }
  li {
    float: right;
    position: relative;

    &:hover > a,
    &.focus > a {
    }
  }
  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 $base__space-unit;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
