/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */
body {
  background-color: #222;
  color: white;
  // text-align: center;
  line-height: $font__line-height-body;
  letter-spacing: 1.5;

  @include desktop {
    text-align: center;
  }

  .container {
    padding: 2.5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .site-branding,
  .site-description {
    display: none;
  }
} //end of body

.site-content {
  @include desktop {
    .entry-content::before {
      font-family: "FontAwesome";
      font-weight: 400;
      content: "\f10d";
      font-size: 5rem;
      color: $color__text-green;
      padding: 10px;
    }
    .entry-content::after {
      font-family: "FontAwesome";
      font-weight: 400;
      content: "\f10e";
      color: $color__text-green;
      font-size: 5rem;
      padding: 10px;
    }
  }
}

.site-content,
.site-header {
  text-align: left;

  img {
    width: 350px;

    @include tablet {
      width: 500px;
    }

    @include desktop {
      width: 700px;
    }
  }
}

.blog {
  .entry-content {
    display: flex;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 400;

    @include tablet {
      font-size: 1.75rem;
    }
  }

  .type-post {
    a {
      color: $color__text-green;
      font-size: 1.25rem;
      font-weight: 400;
    }
    @include tablet {
      font-size: 1.75rem;
    }
    @include desktop {
      font-size: 2.5rem;
    }
  }
  .entry-meta {
    text-align: left;
  }
  // @include desktop {
  //   text-align: center;
  // }
}

#new-quote-button {
  @include quote-button;

  @include desktop {
    &:hover {
      opacity: 0.8;
    }
  }
}

/* Submit a Quote Page */
