/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */
body{
    background-color:#222;
    color: white;
    text-align: center;

.container{
    max-width: $desktop_width;
    padding: 2.5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.site-content{
    // width: 100vw;

   
    .entry-content::before {

            font-family: 'FontAwesome'; 
            font-weight: 400; 
            content: '\f10d';
            font-size: 4rem;
            color: $color__text-green;
            padding: 10px;
        }
        .entry-content::after {
            font-family: "FontAwesome"; 
            font-weight: 400; 
            content: "\f10e";
            color: $color__text-green;
            font-size:4rem;
            padding:10px;
        }
    }

 

.site-content,
.site-header{
    text-align: center;
    line-height: $font__line-height-body;
    font-size: 1rem;
    letter-spacing: 1.5;
    img{
    width: 700px;

    }
    h2{
    color: $color__text-green;
        }
    }


.site-branding,
.site-description{

        display: none;
    }

#new-quote-button{
    color: $color__text-green;
    padding: 0.9rem 1.9rem;
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    font-size: 1.6rem;
    font-weight: 400;
    border: solid 1px $color__text-green;

    &:hover{
        opacity: 0.8;
    }

}
} //end of body

.home{
    .entry-content{
        display: flex;
       text-align: left;
    }
   
    .type-post{
        font-size: 2.5rem;
        h2{
            font-size: 2.5rem;
            color: white;
        }
        a{
            color: $color__text-green;
        }
    }
    .entry-meta{
        text-align: left;
    }
}
  
  /* Submit a Quote Page */
